.artistdetail {
  display: flex;
  flex-direction: column;
}
.card-artistdetail {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #d8cca3;
  border-radius: 8px;
}

.artist-title {
  font-weight: 100;
  text-align: center;
  font-size: 35px;
  margin-top: 2rem;
  margin-bottom: 30px;
  letter-spacing: 15px;
  color: #1a120b;
}

.image-artistdetail {
  width: 450px;
  height: 450px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 8px;
}
.info-artistdetail {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  overflow-wrap: break-word;
  font-size: 20px;
}
.info-artistdetail li {
  list-style: none;
}
.info-items {
  margin: 2rem 0;
  font-style: italic;
}
.artist-video {
  width: 60%;
  margin: 50px auto;
}
.artworks-presentation {
  margin-left: 0;
}
.artist-subtitle {
  font-weight: 100;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  letter-spacing: 15px;
  color: #1a120b;
}
.artworks-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.artworks {
  width: 48%;
  margin: 3px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.artworks-section img {
  width: 100%;
  height: auto;
}

.artworks-section img:active {
  right: 0;
  left: 0;
  top: 5em;
  bottom: 0;
  margin: auto;
  position: fixed;
  height: 80vh;
  width: auto;
  z-index: 1;
}
@media screen and (max-width: 1370px) {
  .card-artistdetail {
    width: 90%;
  }
  .info-artistdetail {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 5px;
    width: 50%;
    font-size: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .card-artistdetail {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-artistdetail {
    width: 95%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
  .info-artistdetail {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
    font-size: 25px;
  }
  .artist-video {
    width: 80%;
    margin: 40px auto;
  }
  .artworks-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .artworks {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .artist-title {
    margin-top: 0rem;
  }
  .artworks {
    margin: 2px 0;
  }
}
@media screen and (max-width: 600px) {
  .card-artistdetail {
    width: 100%;
    border-radius: 0px;
  }
  .image-artistdetail {
    width: 100%;
    border-radius: 0px;
  }
  .info-artistdetail {
    width: 90%;
    font-size: 18px;
  }
  .artist-video {
    width: 100%;
    margin: 40px auto;
  }
  .artworks {
    margin: 1px 0;
  }
}
@media screen and (max-width: 500px) {
  .artist-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 380px) {
  .artist-title {
    font-size: 23px;
    letter-spacing: 10px;
    margin-top: -1rem;
  }
  .info-items {
    width: 90%;
    font-size: 12px;
  }
}
