.main-artworkcanvas {
  margin-top: 8em;
  display: flex;
  justify-content: center;
}

.back-icon {
  display: inline;
  font-size: 25px;
  position: fixed;
  z-index: 10;
  top: 6rem;
  right: 2rem;
  width: 37px;
  height: 37px;
  box-shadow: 0 0 0 3px rgba(253, 207, 56, 1);
  border-radius: 50%;
  cursor: pointer;
}

.back-icon i {
  color: rgba(253, 207, 56, 1);
}
.main-artworkcanvas .instructions-button {
  width: 50px;
  height: 50px;
  font-size: 22px;
  background: #d8cca3;
  color: #473c2a;
}

.main-artworkcanvas .info {
  top: 17rem;
  width: 500px;
  font-size: 25px;
  background: #d8cca3;
  color: #473c2a;
  border-radius: 10px;
  text-align: justify;
  padding: 1rem;
  margin-top: -2rem;
  position: absolute;
  z-index: 5;
}
.main-artworkcanvas .warning-section {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.main-artworkcanvas .exit-icon {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.container-interact-draggables {
  display: flex;
}

body.dragging {
  overflow: hidden;
}

.file-interact-dropzone {
  border: 2px solid #473c2a;
  width: 750px;
  height: 500px;
  margin-top: 2%;
}

.background {
  width: 100%;
  height: 100%;
}
.draggable {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  width: 80px;
  height: 80px;
  margin: 1px;
  position: absolute;
}

.draggable img {
  width: 100%;
  object-fit: cover;
}

.option-images {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 550px;
  padding: 3px;
  margin: auto;
  background: #d8cca3;
  position: relative;
  border-radius: 3px;
}

.option-images p {
  font-size: 20px;
  margin: 20px;
  width: 80px;
}

.background-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  padding-right: 5px;
}
.main-artworkcanvas .reset-button {
  font-size: 32px;
  display: flex;
  margin: 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  background: #473c2a;
  color: #d8cca3;
  height: 50px;
  border-radius: 50%;
  border: #473c2a 1px solid;
  padding: 1px;
}
.main-artworkcanvas .reset-button:hover {
  box-shadow: 2px 2px 30px rgba(216, 204, 163, 1);
  color: rgba(253, 207, 56, 1);
  filter: sepia(1);
}
.background-images .download-button {
  font-size: 32px;
  display: flex;
  margin: 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  background: #473c2a;
  color: #d8cca3;
  height: 50px;
  border-radius: 50%;
  border: #473c2a 1px solid;
  padding: 1px;
}
.background-images .download-button:hover {
  box-shadow: 2px 2px 30px rgba(216, 204, 163, 1);
  color: rgba(253, 207, 56, 1);
  filter: sepia(1);
}
.background-images p {
  font-size: 20px;
  margin: 15px;
  width: 60px;
}

.background-images img {
  width: 100px;
  height: 60px;
  margin-top: 1px;
  margin-left: 5px;
}

/* Draggables size... */

#butterfly {
  /* height: 50px;
  width: 50px; */
  height: 10%;
  width: 10%;
  left: 80%;
  top: 60%;
}
#pez {
  /* height: 110px;
  width: 170px; */
  height: 20%;
  width: 32%;
  left: 1%;
  top: 40%;
}
#jaguar {
  /* height: 170px;
  width: 170px; */
  height: 31%;
  width: 31%;
  left: 5%;
  top: 8%;
}
#armor {
  height: 53%;
  width: 53%;
  left: 40%;
  top: -2%;
}
#flowers {
  /* height: 120px;
  width: 120px; */
  height: 21.8%;
  width: 21.8%;
  left: 40%;
  top: 5%;
}
#hyena {
  /* height: 150px;
  width: 150px; */
  height: 27.5%;
  width: 27.5%;
  left: 4%;
  top: 65%;
}
#fungus {
  height: 100px;
  width: 100px;
  height: 18.5%;
  width: 18.5%;
  left: 33%;
  top: 35%;
}
#owl {
  /* height: 70px;
  width: 70px; */
  height: 13%;
  width: 13%;
  left: 80%;
  top: 78%;
}
#woman {
  /* height: 270px;
  width: 270px; */
  height: 49.3%;
  width: 49.3%;
  left: 31%;
  top: 45%;
}

#woman,
#owl,
#fungus,
#hyena,
#flowers,
#armor,
#jaguar,
#pez,
#butterfly {
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

@media screen and (max-width: 1380px) {
  .file-interact-dropzone {
    width: 700px;
    height: 450px;
  }
  .option-images {
    width: 500px;
    height: 500px;
  }
  .background-images {
    width: 120px;
  }
  .main-artworkcanvas .info {
    margin-top: -10rem;
  }
  .main-artworkcanvas .instructions-button {
    top: 4.8rem;
    left: 2rem;
  }
}
@media screen and (max-width: 1350px) {
  .file-interact-dropzone {
    width: 600px;
    height: 380px;
  }
  .option-images {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 1120px) {
  .file-interact-dropzone {
    width: 580px;
    height: 360px;
  }
  .option-images {
    width: 350px;
    height: 350px;
  }

  .container-interact-draggables {
    flex-direction: column-reverse;
    align-items: start;
    margin-top: -3rem;
  }
  .main-artworkcanvas .instructions-button {
    top: 8rem;
    left: 3rem;
  }
}
@media screen and (max-width: 940px) {
  .main-artworkcanvas .instructions-button {
    left: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .main-artworkcanvas .instructions-button {
    top: 30rem;
    left: 4.5rem;
  }
}

@media screen and (max-width: 750px) {
  .container-interact-draggables {
    margin-top: -4rem;
  }
  .file-interact-dropzone {
    width: 550px;
    height: 330px;
  }
  .option-images {
    width: 320px;
    height: 320px;
  }
  .background-images {
    margin: 0;
  }
  .main-artworkcanvas .info {
    margin-top: -8rem;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
    width: 400px;
  }
}

@media screen and (max-width: 695px) {
  .main-artworkcanvas {
    flex-direction: column-reverse;
  }
  .container-interact-draggables {
    margin-top: -0.5rem;
    width: 98%;
    align-items: center;
  }
  .file-interact-dropzone {
    width: 570px;
    height: 340px;
  }
  .option-images {
    width: 340px;
    height: 340px;
  }
  .option-images {
    margin-bottom: 2px;
  }
  .background-images {
    flex-direction: row;
    justify-content: center;
    margin-top: -4rem;
    width: 100%;
  }
  .background-images img {
    margin: 1px;
  }
  .main-artworkcanvas .info {
    margin-top: -10rem;
  }
  .back-icon {
    top: 35rem;
  }
}
@media screen and (max-width: 660px) {
  .file-interact-dropzone {
    width: 98%;
    height: 330px;
  }
  .background-images {
    height: 45px;
  }
  .background-images img {
    height: 100%;
    width: 12%;
  }
  .background-images .reset-button,
  .background-images .download-button {
    width: 35px;
    height: 35px;
    font-size: 25px;
  }
}

@media screen and (max-width: 620px) {
  .main-artworkcanvas .instructions-button {
    left: 1rem;
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 550px) {
  .file-interact-dropzone {
    width: 98%;
    height: 300px;
  }
  .option-images {
    width: 320px;
    height: 320px;
  }
  .background-images {
    justify-content: space-evenly;
    width: 95%;
  }
  .background-images img {
    width: 18%;
  }
  .main-artworkcanvas .info {
    font-size: 17px;
  }
  .back-icon {
    right: 0.5rem;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

@media screen and (max-width: 455px) {
  .background-images {
    justify-content: space-evenly;
    width: 85%;
    height: 32px;
    margin-bottom: 2px;
  }
  .background-images .reset-button,
  .background-images .download-button {
    width: 32px;
    height: 32px;
    font-size: 21px;
  }
  .main-artworkcanvas .info {
    width: 95%;
    top: 15rem;
  }
}

@media screen and (max-width: 450px) {
  .file-interact-dropzone {
    width: 98%;
    height: 280px;
  }
  .option-images {
    width: 300px;
    height: 300px;
  }
  .main-artworkcanvas .instructions-button {
    top: 25rem;
    left: 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .container-interact-draggables {
    width: 100%;
  }
  .file-interact-dropzone {
    width: 100%;
    height: 250px;
  }
  .option-images {
    width: 265px;
    height: 265px;
  }
}
@media screen and (max-width: 390px) {
  .file-interact-dropzone {
    height: 210px;
  }
  .option-images {
    width: 240px;
    height: 240 px;
  }
  .main-artworkcanvas .info {
    top: 15rem;
  }
  .main-artworkcanvas .instructions-button {
    top: 20rem;
  }
}

@media screen and (max-width: 370px) {
  .option-images {
    width: 210px;
    height: 210px;
  }
}
@media screen and (max-width: 330px) {
  .file-interact-dropzone {
    height: 200px;
  }
  .main-artworkcanvas .instructions-button {
    left: 0;
  }
}
