.main-section {
  margin-top: 2rem;
  width: 60%;
  font-size: 22px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  background: #d8cca3;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  background-image: none;
}

.butterflies-game {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.butterflies-game .exit-icon {
  width: 100%;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.butterflies-game .butterfly_board {
  margin-top: 2rem;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: #d8cca3;
  border-radius: 8px;
  border: hsl(37, 26%, 22%) dotted 8px;
  top: 0rem;
  right: 4.5rem;
}

.butterfly-inactive {
  width: 90px;
  transform: scaleX(-1);
  border-radius: 3px;
  padding-top: 10px;
}

.butterfly-active {
  width: 90px;
  transform: scaleX(-1);
  padding-top: 10px;
}

.butterflies-game .card-quiz {
  display: flex;
  justify-content: center;
  width: 400px;
  height: auto;
  background: #473c2a;
  margin-left: 0;
  color: #d8cca3;
  border-radius: 8px;
  font-size: 1.2em;
}

.butterflies-game .card-quiz button {
  width: 130px;
  justify-content: center;
}

.butterflies-game .card-finished {
  display: flex;
  justify-content: center;
  width: 400px;
  background: #473c2a;
  color: #d8cca3;
  border-radius: 8px;
  font-size: 1.2em;
  height: 230px;
}
.butterflies-game .btns-container {
  flex-direction: column;
  align-items: center;
}

.butterflies-game .btns-container button {
  width: 130px;
  font-size: 16px;
  color: #473c2a;
  background-color: #d8cca3;
  border-radius: 15px;
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 1px;
}

.butterflies-game .card-shown-answers {
  display: flex;
  justify-content: center;
  width: 400px;
  height: auto;
  background: #473c2a;
  color: #d8cca3;
  border-radius: 8px;
  font-size: 1.2em;
}
.butterflies-game .card-shown-answers .answer {
  justify-content: center;
  width: 115px;
}
.butterflies-game .card-shown-answers .answers-right {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.butterflies-game .card-shown-answers button {
  width: 25px;
  height: 25px;
  background: rgba(253, 207, 56, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.butterflies-game .card-shown-answers button i {
  margin: 0;
  padding: 0;
  width: 100%;
}
.left {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
  text-align: left;
}

.question-number {
  margin-bottom: 20px;
}

.question-number span {
  font-size: 1.2em;
}

.question-title {
  margin-bottom: 1.2em;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right button {
  width: 100%;
  font-size: 16px;
  color: #473c2a;
  background-color: #d8cca3;
  border-radius: 15px;
  display: flex;
  padding: 7px;
  justify-content: flex-start;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 1px;
}

.good,
.good:hover {
  background-color: #8da860;
}

.bad,
.bad:hover {
  background-color: #f55050;
}

.butterflies-game .game-won {
  width: 50%;
  left: 30%;
}

.game-finished .game-won {
  margin-top: 0.4rem;
}

.close-icon {
  display: inline;
  font-size: 25px;
  position: fixed;
  z-index: 10;
  top: 5.5rem;
  right: 1rem;
  width: 37px;
  height: 37px;
  box-shadow: 0 0 0 3px rgba(253, 207, 56, 1);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon i {
  color: rgba(253, 207, 56, 1);
}
@media screen and (max-width: 920px) {
  .butterflies-game .butterfly_board {
    margin-top: 1rem;
    width: 400px;
  }
  .butterfly-active,
  .butterfly-inactive {
    width: 80px;
  }
  .main-section {
    width: 95%;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 820px) {
  .butterflies-game .game-won {
    top: 5.5rem;
    font-size: 20px;
    left: 25%;
    right: 25%;
  }
}
@media screen and (max-width: 750px) {
  .butterflies-game .exit-icon {
    font-size: 20px;
  }
  .butterflies-game .card-quiz,
  .butterflies-game .card-finished,
  .butterflies-game .card-shown-answers {
    margin-top: -2.3rem;
    font-size: 17px;
    position: absolute;
    z-index: 2;
    top: 6rem;
    height: 220px;
    .question-number {
      margin-bottom: 9px;
    }
    .question-title {
      margin-bottom: 9px;
    }
  }
  .main-section {
    font-size: 17px;
    justify-content: end;
    margin-top: -1rem;
    .info-title {
      font-size: 20px;
    }

    .rigth-icon {
      width: 30px;
      height: 30px;
    }
    .rigth-icon i {
      font-size: 30px;
    }
    .wrong-icon {
      width: 30px;
      height: 30px;
    }
    .wrong-icon i {
      font-size: 30px;
    }
  }

  .butterflies-game .butterfly_board {
    margin-top: 11.7rem;
  }
  .butterflies-game .game-won {
    top: 0rem;
    width: 230px;
    padding: 1px;
  }
}
@media screen and (max-width: 600px) {
  .butterflies-game .butterfly_board {
    width: 300px;
  }
  .butterfly-active,
  .butterfly-inactive {
    width: 60px;
  }
  .butterflies-game .card-quiz,
  .butterflies-game .card-finished,
  .butterflies-game .card-shown-answers {
    width: 100%;
    border-radius: 0;
  }
  .butterflies-game .card-shown-answers {
    flex-direction: column;
    justify-content: center;
  }
  .butterflies-game .card-shown-answers button {
    margin: 0;
  }
  .close-icon {
    height: 30px;
    width: 30px;
    font-size: 20px;
    top: 4rem;
    right: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .butterflies-game .game-won {
    left: 15%;
    right: 15%;
  }
  .butterflies-game .card-quiz,
  .butterflies-game .card-finished,
  .butterflies-game .card-shown-answers {
    height: 250px;
  }
}
@media screen and (max-width: 350px) {
  .butterflies-game .butterfly_board {
    margin-top: 13.5rem;
  }
}
