.main-section {
  margin-left: 20%;
  width: 60%;
  font-size: 22px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  background: #d8cca3;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  background-image: none;
}

.butterflies-game {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 13.5rem;
  /* background-image: url("../images/couple-game-images/butterfly-card.jpg"); */
  background-size: 200px 200px;
  background-position: 10px 180px;
  background-repeat: repeat;
}

.butterflies-game .butterfly_board {
  margin-top: 8rem;
  margin-right: 10%;
  width: 40%;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: #d8cca3;
  border-radius: 8px;
  border: hsl(37, 26%, 22%) dotted 8px;
  position: absolute;
  top: 0rem;
  right: 4.5rem;
}

.butterfly-inactive {
  width: 90px;
  transform: scaleX(-1);
  border-radius: 3px;
  padding-top: 10px;
}

.butterfly-active {
  width: 90px;
  transform: scaleX(-1);
  padding-top: 10px;
}

.butterflies-game .card-quiz {
  display: flex;
  margin-left: 15%;
  justify-content: center;
  margin-top: 0rem;
  width: 28%;
  background: #473c2a;
  color: #d8cca3;
  border-radius: 8px;
  font-size: 1.2em;
  height: 20rem;
}

.butterflies-game .card-quiz button {
  width: 60%;
}

.butterflies-game .card-finished {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-left: 15%;
  width: 24%;
  background: #473c2a;
  color: #d8cca3;
  border-radius: 8px;
  font-size: 1.2em;
  height: 15rem;
}

.butterflies-game .card-shown-answers {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-left: 15%;
  width: 400px;
  background: #473c2a;
  color: #d8cca3;
  border-radius: 8px;
  font-size: 1.2em;
  height: 17rem;
}

.butterflies-game .card-shown-answers .play-again {
  width: 80%;
}

.left {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
  text-align: left;
}

.question-number {
  margin-bottom: 20px;
}

.question-number span {
  font-size: 1.2em;
}

.question-title {
  margin-bottom: 1.2em;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right button {
  width: 100%;
  font-size: 16px;
  color: #473c2a;
  background-color: #d8cca3;
  border-radius: 15px;
  display: flex;
  padding: 7px;
  justify-content: flex-start;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 1px;
}

.good,
.good:hover {
  background-color: #8da860;
}

.bad,
.bad:hover {
  background-color: #f55050;
}

.game-won {
  left: 31rem;
}

@media screen and (max-width: 1330px) {
  .butterflies-game .card-quiz {
    height: 22rem;
    width: 30%;
  }
}
@media screen and (max-width: 1275px) {
  .butterflies-game .card-finished {
    width: 30%;
  }
}

@media screen and (max-width: 1170px) {
  .butterflies-game .butterfly_board {
    margin-top: 8rem;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
  }
  .butterflies-game .card-quiz {
    height: 18rem;
    width: 50%;
    margin-left: 25%;
    margin-top: 23rem;
  }
  .butterflies-game .card-finished {
    height: 13rem;
    width: 30%;
    margin-left: 35%;
    margin-top: 22rem;
  }
}

@media screen and (max-width: 1070px) {
  .butterflies-game {
    justify-content: center;
  }
  .main-section {
    margin-left: 0%;
    width: 95%;
  }
  .butterflies-game .card-quiz {
    width: 50%;
    margin-left: 0%;
  }
  .butterflies-game .card-finished {
    width: 320px;
    margin-left: 0%;
  }
}

@media screen and (max-width: 750px) {
  .main-section {
    margin-left: 0%;
    width: 95%;
    font-size: 18px;
    padding: 1rem;
  }
  .main-section h2 {
    font-size: 22px;
    padding: 1rem;
  }
  .butterflies-game .butterfly_board {
    margin-top: 6rem;
  }
  .butterflies-game .card-quiz {
    height: 18rem;
    width: 70%;
    margin-top: 21rem;
    width: 380px;
  }
  .butterflies-game .card-finished {
    margin-top: 20rem;
  }
  .border-button {
    width: 60px;
    height: 60px;
    /* background: rgba(253, 207, 56, 1); */
  }
  .play-button i {
    font-size: 30px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 550px) {
  .butterflies-game .card-quiz {
    height: 18rem;
    margin-top: 21rem;
  }
}
@media screen and (max-width: 445px) {
  .butterflies-game .butterfly_board {
    width: 98%;
    height: auto;
  }
  .butterfly-inactive {
    width: 80px;
    padding-top: 5px;
  }

  .butterfly-active {
    width: 80px;
    padding-top: 5px;
  }
  .butterflies-game .card-quiz {
    height: 20rem;
    width: 95%;
    margin-top: 16rem;
  }
  .butterflies-game .card-finished {
    margin-top: 15rem;
  }
}
@media screen and (max-width: 390px) {
  .butterflies-game .card-quiz {
    height: 25rem;
  }
}
@media screen and (max-width: 370px) {
  .butterfly-inactive {
    width: 70px;
  }

  .butterfly-active {
    width: 70px;
  }
  .butterflies-game .card-quiz {
    height: 28rem;
    width: 100%;
    margin-left: 0%;
  }
}
