.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.card.down {
  background: #eddfb3;
  font-size: 50px;
  filter: sepia(0);
}
.card.down img {
  filter: sepia(0);
  width: 100%;
}

.card.down:hover {
  box-shadow: 2px 2px 30px rgba(253, 207, 56, 1);
  filter: sepia(0.5);
}

.card.up {
  width: 100%;
  background: #b09b71;
  padding: 2px;
  animation-name: animacion-cards_matched;
  animation-duration: 500ms;
}
.card.up img:active {
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: 300px;
  z-index: 1;
}
@keyframes animacion-cards_matched {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
.card.selected {
  background: #b09b71;
}
.card.finished {
  background: #b09b71;
  padding: 2px;
  animation-name: animacion-cards_finished;
  animation-duration: 1000ms;
}
.card.finished img:active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: 300px;
  z-index: 1;
}
@keyframes animacion-cards_finished {
  0% {
    transform: rotate(-5deg);
  }
  12% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  37% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }
  62% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  87% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
.card.selected {
  background: #b09b71;
}
.number-card {
  background: #1a120b;
  color: rgba(253, 207, 56, 1);
  border: solid 1px rgba(253, 207, 56, 1);
  position: absolute;
  z-index: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 17%;
  margin-top: 17%;
}

.couples-game-main {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  flex: 3;
  margin-top: 7rem;
}
.couples-game-main .info {
  width: 500px;
  font-size: 25px;
  background: #d8cca3;
  color: #473c2a;
  margin-left: 1rem;
  border-radius: 10px;
  text-align: justify;
  padding: 1rem;
  margin-top: -2rem;
  position: absolute;
  z-index: 5;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.warning-section {
  display: flex;
  width: 95%;
}
.warning-section article {
  height: 33%;
  width: 250px;
  margin-left: 2rem;
  padding: 5px;
  background: #473c2a;
  font-weight: 600;
  font-size: 18px;
  text-align: justify;
  color: #d8cca3;
  border: 2px solid #473c2a;
  margin-top: 1.5rem;
  border-radius: 10px;
}
.warning-section i {
  background: rgba(253, 207, 56, 1);
  text-align: center;
  border: solid 2px #473c2a;
  color: #473c2a;
  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 28px;
  border-radius: 50%;
  margin-top: 3.5rem;
}
.couples-game-main .exit-icon {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
}
.couples-game-main .instructions-button {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 22px;
  border-radius: 50%;
  border: #473c2a solid 2px;
  color: #473c2a;
  background: #d8cca3;
  padding: 2px;
  position: absolute;
  z-index: 3;
  left: 10%;
  top: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset-button {
  height: 50px;
  width: 50px;
  font-size: 22px;
  font-weight: 500;
  background: #473c2a;
  color: #d8cca3;
  margin-right: 1px;
  margin-left: 0px;
  margin-top: 27.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.reset-button i {
  font-size: 30px;
  padding: 1px;
  color: #d8cca3;
  border-radius: 50%;
}

.reset-button:hover {
  box-shadow: 2px 2px 30px rgba(216, 204, 163, 1);
  color: rgba(253, 207, 56, 1);
  filter: sepia(1);
}
.game-won {
  width: 40%;
  position: absolute;
  color: #473c2a;
  padding: 5px;
  background: rgba(253, 207, 56, 1);
  font-size: 35px;
  top: 5.4rem;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
  animation-name: animacion-cards_finished;
  animation-duration: 1000ms;
}

.couples-game-main .cards-container {
  color: #3f2a17;
  background: #473c2a;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 600px;
  height: 600px;
  margin-top: 2rem;
  gap: 10px;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  position: relative;
}
.couples-game-main .answers {
  width: 22rem;
  margin-top: 1.4rem;
  margin-right: 1rem;
  margin-left: 1.5rem;
  text-align: justify;
}

.couples-game-main .answers .down {
  background: #d8cca3;
  color: #3f2a17;
  width: 98%;
  margin: 3px 3px;
  border-radius: 5px;
  list-style: none;
  height: 60px;
  padding: 3px 5px 3px 1px;
  font-size: 35px;
  text-align: center;
}
.couples-game-main .answers .selected {
  background: #d8cca3;
  color: #473c2a;
  width: 98%;
  margin: 3px 3px;
  border-radius: 5px;
  list-style: none;
  height: 60px;
  padding: 3px 5px 3px 1px;
  font-size: 35px;
  text-align: center;
}
.couples-game-main .answers .up {
  background: #473c2a;
  color: #d8cca3;
  width: 98%;
  margin: 3px 3px;
  border-radius: 5px;
  list-style: none;
  height: 60px;
  padding: 3px 5px 3px 1px;
}
.couples-game-main .answers .finished {
  background: #473c2a;
  color: #d8cca3;
  width: 98%;
  margin: 3px 3px;
  border-radius: 5px;
  list-style: none;
  height: 60px;
  padding: 3px 5px 3px 1px;
}

.couples-game-main .answers li .answer-info {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
}
.couples-game-main .answers li {
  font-size: 14px;
}
.number-answer {
  background: #1a120b;
  color: rgba(253, 207, 56, 1);
  border: solid 1px rgba(253, 207, 56, 1);
  width: 35px;
  height: 30px;
  padding-right: 2px;
  padding-left: 2px;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  margin-right: 2px;
}

@media screen and (max-width: 1322px) {
  .couples-game-main {
    width: 90%;
  }
  .couples-game-main .instructions-button {
    left: 5%;
  }
}
@media screen and (max-width: 1178px) {
  .couples-game-main {
    width: 95%;
  }
  .couples-game-main .instructions-button {
    left: 2%;
  }
}
@media screen and (max-width: 1117px) {
  .couples-game-main .cards-container {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 1012px) {
  .couples-game-main .cards-container {
    width: 450px;
    height: 450px;
  }
  .couples-game-main .instructions-button {
    left: 2%;
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
  .reset-button {
    height: 45px;
    width: 45px;
    font-size: 20px;
    margin-top: 24.5rem;
  }
}
@media screen and (max-width: 953px) {
  .couples-game-main {
    margin-top: 7rem;
    align-items: start;
    flex-direction: column;
    align-items: center;
  }
  .couples-game-main .cards-container {
    width: 400px;
    height: 400px;
    margin-top: 0rem;
  }
  .couples-game-main .answers {
    width: 22rem;
    margin-top: 1.4rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
    text-align: justify;
  }
  .couples-game-main .instructions-button {
    left: 15%;
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
  .couples-game-main .answers {
    width: 450px;
    margin-top: 1px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
  }
  .couples-game-main .answers li {
    font-size: 12px;
  }
  .couples-game-main .answers .down {
    height: 37px;
    font-size: 28px;
    margin: 1.5px auto;
  }
  .couples-game-main .answers .selected {
    height: 37px;
    font-size: 28px;
    margin: 1.5px auto;
  }
  .couples-game-main .answers .up {
    height: 37px;
    margin: 1.5px auto;
  }
  .couples-game-main .answers .finished {
    height: 37px;
    margin: 1.5px auto;
  }
  .reset-button {
    position: absolute;
    left: 20%;
    top: 1rem;
  }
  .couples-game-main .instructions-button {
    left: 20%;
  }
  .game-won {
    font-size: 20px;
  }
}
@media screen and (max-width: 837px) {
  .reset-button {
    left: 15%;
  }
  .couples-game-main .instructions-button {
    left: 15%;
  }
}
@media screen and (max-width: 750px) {
  .couples-game-main {
    margin-top: 6rem;
  }
  .couples-game-main .info {
    width: 400px;
    margin-top: -14rem;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
  }
  .couples-game-main .exit-icon {
    font-size: 20px;
  }
  .reset-button {
    left: 10%;
  }
  .couples-game-main .instructions-button {
    left: 10%;
  }
  .game-won {
    margin-top: -2rem;
  }
}
@media screen and (max-width: 635px) {
  .couples-game-main {
    width: 100%;
  }
  .reset-button {
    left: 5%;
  }
  .couples-game-main .instructions-button {
    left: 5%;
  }
}
@media screen and (max-width: 565px) {
  .couples-game-main .info {
    margin-top: -18rem;
    font-size: 17px;
  }
  .couples-game-main {
    width: 100%;
    margin-top: 4.5rem;
  }
  .reset-button {
    position: static;
    margin: 0;
    margin-left: 80px;
  }
  .couples-game-main .instructions-button {
    top: 29.5rem;
    left: 37%;
  }
  .game-won {
    width: 60%;
    z-index: 4;
  }
}
@media screen and (max-width: 475px) {
  .couples-game-main .cards-container {
    width: 370px;
    height: 370px;
    margin-top: 0rem;
  }
  .couples-game-main .info {
    width: 350px;
    margin-top: -14rem;
  }
  .reset-button {
    width: 35px;
    height: 35px;
    font-size: 5px;
  }
  .reset-button i {
    font-size: 22px;
  }
  .couples-game-main .instructions-button {
    width: 35px;
    height: 35px;
    top: 27.6rem;
    left: 37%;
  }
  .couples-game-main .answers {
    width: 100%;
  }
  .couples-game-main .answers .down {
    height: 37px;
    width: 100%;
  }
  .couples-game-main .answers .selected {
    height: 40px;
    width: 100%;
  }
  .couples-game-main .answers .up {
    height: 37px;
    width: 100%;
  }
  .couples-game-main .answers .finished {
    height: 37px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media screen and (max-width: 400px) {
  .couples-game-main .cards-container {
    width: 100%;
    height: auto;
  }
  .couples-game-main .instructions-button {
    top: 4.5rem;
    left: 0;
  }
  .reset-button {
    margin: 0;
  }

  .game-won {
    width: 70%;
  }
  .couples-game-main .info {
    width: 95%;
    margin-top: -10rem;
  }
}
