.container-banner-home {
  max-width: 100%;
  height: 31.5rem;
  overflow: hidden;
  position: relative;
}

.banner-home {
  width: 100%;
  position: absolute;
  left: -0%;
  bottom: -135%;
}

.home-title {
  position: absolute;
  z-index: 2;
  letter-spacing: 30px;
  margin-top: 12rem;
  color: #eddfb3;
}
.home-subtitle {
  position: absolute;
  z-index: 2;
  letter-spacing: 20px;
  margin-top: 18rem;
  margin-left: 50rem;
  color: #eddfb3;
}

.description {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  text-align: justify;
}

.description-title {
  letter-spacing: 0.5em;
  margin-top: 5rem;
  color: #1a120b;
  font-size: 32px;
}
.description p {
  margin-top: 1rem;
}
.subparagraph {
  text-align-last: center;
}

.lorca-painting {
  margin: 1%;
  width: 98%;
}
.roh-image {
  display: block;
  margin: 1.5rem auto;
}
.ancestral-image {
  display: block;
  margin: 1.5rem auto;
  width: 98%;
}

@media screen and (max-width: 1130px) {
  .home-subtitle {
    position: absolute;
    z-index: 2;
    letter-spacing: 20px;
    margin-top: 18rem;
    margin-left: 40rem;
    color: #eddfb3;
  }
}

@media screen and (max-width: 950px) {
  .home-subtitle {
    position: absolute;
    z-index: 2;
    letter-spacing: 20px;
    margin-top: 18rem;
    margin-left: 30rem;
    color: #eddfb3;
  }
}
@media screen and (max-width: 790px) {
  .home-title {
    position: absolute;
    z-index: 2;
    letter-spacing: 25px;
    margin-top: 12rem;
    color: #eddfb3;
    width: 100%;
    align-items: center;
  }
  .home-subtitle {
    position: absolute;
    z-index: 2;
    letter-spacing: 20px;
    margin-top: 20rem;
    margin-left: 20rem;
    color: #eddfb3;
  }
}
@media screen and (max-width: 630px) {
  .home-subtitle {
    position: absolute;
    z-index: 2;
    letter-spacing: 20px;
    margin-top: 21rem;
    margin-left: 15rem;
    color: #eddfb3;
  }
}
@media screen and (max-width: 570px) {
  .home-title {
    position: absolute;
    z-index: 2;
    letter-spacing: 20px;
    margin-top: 12rem;
    color: #eddfb3;
  }
  .home-subtitle {
    position: absolute;
    z-index: 2;
    letter-spacing: 15px;
    margin-top: 21rem;
    margin-left: 13rem;
    color: #eddfb3;
  }
}

@media screen and (max-width: 470px) {
  .home-title {
    position: absolute;
    z-index: 2;
    letter-spacing: 20px;
    margin-top: 12rem;
    color: #eddfb3;
  }
  .home-subtitle {
    position: absolute;
    z-index: 2;
    letter-spacing: 15px;
    margin-top: 23rem;
    margin-left: 10rem;
    color: #eddfb3;
  }
  .description-title {
    letter-spacing: 0.3em;
  }
}

@media screen and (max-width: 420px) {
  .home-title {
    position: absolute;
    z-index: 2;
    letter-spacing: 12px;
    margin-top: 12rem;
    color: #eddfb3;
    font-size: 30px;
  }
  .home-subtitle {
    position: absolute;
    z-index: 2;
    letter-spacing: 10px;
    margin-top: 20rem;
    margin-left: 9rem;
    color: #eddfb3;
  }
  .description-title {
    letter-spacing: 0.2em;
    font-size: 28px;
  }
  .roh-image {
    display: block;
    margin: 1.5rem auto;
    width: 250px;
    height: auto;
  }
}
@media screen and (max-width: 360px) {
  .home-subtitle {
    position: absolute;
    z-index: 2;
    letter-spacing: 10px;
    margin-top: 20rem;
    margin-left: 6rem;
    color: #eddfb3;
  }
}
@media screen and (max-width: 340px) {
  .home-subtitle {
    position: absolute;
    z-index: 2;
    letter-spacing: 10px;
    margin-top: 22rem;
    margin-left: 6rem;
    color: #eddfb3;
  }
}
