.container-banner-home {
  max-width: 100%;
  height: 31.5rem;
  overflow: hidden;
  position: relative;
}

.banner-home {
  width: 100%;
  position: absolute;
  left: -0%;
  bottom: -200%;
}

.home-title {
  position: absolute;
  z-index: 2;
  letter-spacing: 30px;
  margin-top: 12rem;
  color: #eddfb3;
}
.home-subtitle {
  position: absolute;
  z-index: 2;
  letter-spacing: 20px;
  margin-top: 18rem;
  margin-left: 50rem;
  color: #eddfb3;
}

.description {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  text-align: left;
}

.description-title {
  letter-spacing: 0.5em;
  margin-top: 5rem;
  color: #1a120b;
  font-size: 32px;
  text-align: left;
}
.description p {
  margin-top: 1rem;
  text-align: left;
}
.subparagraph {
  text-align-last: center;
}

.lorca-painting {
  margin: 1%;
  width: 98%;
}
.roh-image {
  display: block;
  margin: 1.5rem auto;
}
.ancestral-image {
  display: block;
  margin: 1.5rem auto;
  width: 98%;
}
@media screen and (max-width: 1380px) {
  .banner-home {
    bottom: -130%;
  }
}

@media screen and (max-width: 1130px) {
  .banner-home {
    bottom: -100%;
  }
  .home-subtitle {
    margin-top: 18rem;
    margin-left: 40rem;
  }
}

@media screen and (max-width: 950px) {
  .banner-home {
    bottom: -70%;
  }
  .home-subtitle {
    margin-left: 30rem;
  }
}
@media screen and (max-width: 860px) {
  .banner-home {
    bottom: -40%;
  }
}
@media screen and (max-width: 790px) {
  .home-title {
    letter-spacing: 25px;
    margin-top: 12rem;
    align-items: center;
  }
  .home-subtitle {
    margin-top: 20rem;
    margin-left: 20rem;
  }
}
@media screen and (max-width: 690px) {
  .banner-home {
    bottom: -20%;
  }
}
@media screen and (max-width: 630px) {
  .home-subtitle {
    margin-top: 21rem;
    margin-left: 15rem;
  }
}
@media screen and (max-width: 570px) {
  .banner-home {
    bottom: 0%;
  }
  .home-title {
    letter-spacing: 20px;
    margin-top: 12rem;
  }
  .home-subtitle {
    letter-spacing: 15px;
    margin-top: 21rem;
    margin-left: 13rem;
  }
  .main-nav-bar .page-title {
    margin-top: 4.5rem;
  }
}
@media screen and (max-width: 490px) {
  .banner-home {
    bottom: -25%;
  }
  .container-banner-home {
    height: 20.5rem;
  }
  .home-title {
    margin-top: 5rem;
  }
  .home-subtitle {
    letter-spacing: 15px;
    margin-top: 16rem;
    margin-left: 10rem;
  }
}
@media screen and (max-width: 470px) {
  .home-title {
    letter-spacing: 16px;
    margin-top: 6rem;
  }
  .home-subtitle {
    letter-spacing: 15px;
    margin-top: 16rem;
    margin-left: 10rem;
  }
  .description-title {
    letter-spacing: 0.2em;
    margin-top: 0rem;
  }
}

@media screen and (max-width: 420px) {
  .container-banner-home {
    height: 12.5rem;
  }
  .banner-home {
    bottom: -60%;
  }
  .home-title {
    margin-top: 0rem;
    letter-spacing: 12px;
    font-size: 27px;
  }
  .home-subtitle {
    letter-spacing: 10px;
    margin-top: 6.5rem;
    margin-left: 9rem;
  }
  .description-title {
    text-align: left;
    letter-spacing: 0.2rem;
    font-size: 25px;
  }
  .roh-image {
    display: block;
    margin: 1.5rem auto;
    width: 250px;
    height: auto;
  }
}
@media screen and (max-width: 360px) {
  .banner-home {
    bottom: -80%;
  }
  .home-title {
    letter-spacing: 12px;
    margin-top: 3rem;
  }
  .home-subtitle {
    letter-spacing: 10px;
    margin-top: 10rem;
    margin-left: 6rem;
    font-size: 13px;
  }
}
@media screen and (max-width: 340px) {
  .container-banner-home {
    height: 8.5rem;
  }
  .banner-home {
    bottom: -100%;
  }
  .home-title {
    letter-spacing: 8px;
    margin-top: 1rem;
    font-size: 20px;
  }
  .home-subtitle {
    letter-spacing: 8px;
    margin-top: 5rem;
    margin-left: 6rem;
    font-size: 12px;
  }
}
