.puzzle-main {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 7.5rem;
  position: relative;
}

.container-pieces {
  width: 550px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.puzzle-main .info {
  width: 500px;
  font-size: 25px;
  background: #d8cca3;
  color: #473c2a;
  margin-left: 3rem;
  border-radius: 10px;
  text-align: justify;
  padding: 1rem;
  margin-top: -2rem;
  position: absolute;
  z-index: 5;
}
.puzzle-main .warning-section {
  display: flex;
  justify-content: center;
  width: 95%;
}
.puzzle-main .exit-icon {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
}
.puzzle-main .instructions-button {
  left: 2.2rem;
  width: 50px;
  height: 50px;
  font-size: 22px;
  background: #d8cca3;
  color: #473c2a;
}
.puzzle-main .warning-section article {
  height: 33%;
  width: 200px;
  margin-left: 3rem;
  padding: 5px;
  background: #473c2a;
  color: #d8cca3;
  font-weight: 600;
  font-size: 18px;
  text-align: justify;
  border: 2px solid #1a120b;
  margin-top: 15px;
  border-radius: 10px;
}
.puzzle-main .warning-section i {
  background: rgba(253, 207, 56, 1);
  text-align: center;
  border: solid 2px #473c2a;
  color: #473c2a;
  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 28px;
  border-radius: 50%;
  margin-top: 4.5rem;
}

.puzzle-main .info-artwork {
  width: 300px;
  padding: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.puzzle-main .info-artwork .info {
  margin-top: 2rem;
  height: 500px;
  width: 100%;
  font-size: 17px;
  background: #473c2a;
  color: #d8cca3;
  margin: auto;
  border-radius: 10px;
  text-align: justify;
}

.puzzle-main .info-artwork .info-hide {
  margin-top: 2rem;
  width: 100%;
  font-size: 17px;
  background: #473c2a;
  color: #d8cca3;
  filter: blur(5px);
  margin: auto;
  border-radius: 10px;
  text-align: justify;
  padding: 10px;
}

.puzzle-main .info-artwork .info-show {
  margin-top: 2rem;
  width: 100%;
  font-size: 17px;
  background: #473c2a;
  color: #d8cca3;
  margin: auto;
  border-radius: 10px;
  text-align: justify;
  padding: 10px;
}

.puzzle-main .info-artwork i {
  background: rgba(253, 207, 56, 1);
  text-align: center;
  border: solid 2px #473c2a;
  color: #473c2a;
  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 28px;
  border-radius: 50%;
  margin-top: 3.5rem;
}

.puzzle-main .info-artwork-article {
  height: 85%;
  width: 90%;
  margin-left: 2rem;
  padding: 5px;
  background: #d8cca3;
  font-weight: 600;
  font-size: 15px;
  text-align: justify;
  color: #1a120b;
  border: 2px solid #1a120b;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 10px;
}
.puzzle-main .info-artwork .info-artwork-icon-finished {
  margin-top: -3rem;
  width: 200px;
  height: 80px;
  text-align: center;
  animation-name: intermittent-animation;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.info-artwork-icon-start {
  margin-top: -3rem;
  width: 200px;
  height: 80px;
  text-align: center;
}

.puzzle-main .info-artwork .info-artwork-icon-active i {
  background: rgba(253, 207, 56, 1);
  text-align: center;
  border: solid 2px #473c2a;
  color: #473c2a;
  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 28px;
  border-radius: 50%;
  margin-top: 3.5rem;
}
@keyframes animacion-icon_active {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    display: none;
  }

  50% {
    transform: rotate(-5deg);
  }
  75% {
    display: none;
  }
  100% {
    transform: rotate(-5deg);
  }
}

.piece.unselected {
  width: 99%;
  height: 99%;
  background: #bea553;
  display: flex;
  justify-content: space-between;
}
.piece.unselected img {
  width: 100%;
  height: 100%;
}

.piece.selected {
  width: 99%;
  height: 99%;
}
.piece.selected img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 30px rgba(253, 207, 56, 0.7);
}

.puzzle-main .game-won {
  position: absolute;
  background: rgba(253, 207, 56, 1);
  padding: 5px;
  color: #473c2a;
  font-size: 35px;
  top: -2rem;
  left: 25%; /* Sitúa el borde izquierdo en el 50% del contenedor */
  width: 50%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 3;
}
.puzzle-main .game-won-final {
  width: fit-content;
  position: absolute;
  color: #473c2a;
  padding: 5px;
  background: rgba(253, 207, 56, 1);
  font-size: 35px;
  top: -2rem;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
  animation-name: animacion-puzzle_finished;
  animation-duration: 1000ms;
}

@keyframes animacion-puzzle_finished {
  0% {
    transform: rotate(-5deg);
  }
  12% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  37% {
    transform: rotate(4deg);
  }

  50% {
    transform: rotate(-4deg);
  }
  62% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  87% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.puzzle-main .reset-button {
  height: 50px;
  width: 50px;
  font-size: 22px;
  font-weight: 500;
  background: #473c2a;
  color: #d8cca3;
  margin-right: 1px;
  margin-left: 0px;
  margin-top: 0rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.puzzle-main .reset-button i {
  font-size: 30px;
  padding: 1px;
  color: #d8cca3;
  border-radius: 50%;
}

.puzzle-main .reset-button:hover {
  /* box-shadow: 2px 2px 30px rgba(253, 207, 56, 0.7); */
  box-shadow: 2px 2px 30px rgba(216, 204, 163, 1);
  color: rgba(253, 207, 56, 1);
  filter: sepia(1);
}

.puzzle-main .no-button {
  height: 50px;
  width: 50px;
}

.next {
  height: 100px;
  width: 100px;
  background: rgba(253, 207, 56, 1);
  position: absolute;
  z-index: 3;
  right: 40%;
  top: 20rem;
  padding: 5px;
  font-size: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.next i {
  font-size: 30px;
}
@keyframes intermittent-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .container-pieces {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 953px) {
  .puzzle-main .game-won-final {
    font-size: 20px;
  }
  .puzzle-main .game-won {
    font-size: 20px;
  }
}
@media screen and (max-width: 950px) {
  .container-pieces {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 845px) {
  .puzzle-main {
    flex-direction: column;
  }
  .no-button {
    position: absolute;
  }
  .puzzle-main .info-artwork {
    width: 80%;
    flex-direction: row;
    margin: 0;
  }
  .puzzle-main .info-artwork i {
    transform: rotate(-90deg);
  }
  .puzzle-main .info-artwork {
    width: 90%;
  }
  .puzzle-main .instructions-button {
    left: 10%;
  }
  .puzzle-main .next {
    right: 15%;
    top: 20rem;
  }
}

@media screen and (max-width: 750px) {
  .puzzle-main .info {
    margin-top: -2rem;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
    width: 400px;
  }

  .container-pieces {
    margin-top: -2.5rem;
    width: 350px;
    height: 350px;
  }
  .puzzle-main .info-artwork {
    width: 100%;
  }
  .puzzle-main .reset-button {
    position: absolute;
    left: 10%;
  }
  .puzzle-main .next {
    right: 10%;
    top: 15rem;
    font-size: 12px;
    width: 80px;
    height: 80px;
  }
  .puzzle-main .game-won-final {
    margin-top: -2rem;
  }
}
@media screen and (max-width: 565px) {
  .puzzle-main .info {
    font-size: 17px;
  }
}
@media screen and (max-width: 560px) {
  .puzzle-main .reset-button {
    position: absolute;
    left: 5%;
  }
  .puzzle-main .instructions-button {
    left: 5%;
  }
  .puzzle-main .next {
    right: 5%;
  }
}

@media screen and (max-width: 500px) {
  .container-pieces {
    width: 320px;
    height: 320px;
  }
  .puzzle-main .info-artwork {
    padding: 5px;
  }
  .puzzle-main .info-artwork .info-hide {
    margin-top: 2rem;
    width: 100%;
    font-size: 15px;
    background: #473c2a;
    color: #d8cca3;
    filter: blur(5px);
    margin: auto;
    border-radius: 10px;
    text-align: justify;
    padding: 5px;
  }
  .puzzle-main .info-artwork .info-show {
    margin-top: 2rem;
    width: 100%;
    font-size: 13px;
    background: #473c2a;
    color: #d8cca3;
    margin: auto;
    border-radius: 10px;
    text-align: justify;
    padding: 5px;
  }
  .puzzle-main .info-artwork-article {
    font-size: 12px;
  }
  .puzzle-main .reset-button {
    width: 35px;
    height: 35px;
    font-size: 5px;
  }
  .puzzle-main .reset-button i {
    font-size: 22px;
  }
  .puzzle-main .instructions-button {
    width: 35px;
    height: 35px;
  }
  .puzzle-main .instructions-button i {
    font-size: 22px;
  }
}

@media screen and (max-width: 420px) {
  .container-pieces {
    margin-top: -1rem;
  }
  .puzzle-main .reset-button {
    position: absolute;
    left: 2%;
  }
  .puzzle-main .instructions-button {
    left: 2%;
  }
  .puzzle-main .next {
    right: 1%;
  }
  .puzzle-main .game-won {
    width: 70%;
    left: 15%;
  }
  .puzzle-main .game-won-final {
    width: 90%;
    height: 60px;
  }
}
@media screen and (max-width: 400px) {
  .puzzle-main .info {
    width: 95%;
  }
}

@media screen and (max-width: 390px) {
  .container-pieces {
    width: 100%;
    height: auto;
  }
  .puzzle-main .reset-button {
    position: static;
  }
  .puzzle-main .instructions-button {
    top: -3.7rem;
  }
  .puzzle-main .next {
    margin-top: 3rem;
  }
}
