.container {
  width: 100%;
  height: 31.5rem;
  overflow: hidden;
  position: relative;
}

.banner-tests {
  width: 100%;
  position: absolute;
  left: -0%;
  bottom: -40%;
}

.description {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  text-align: justify;
}
.test-titles {
  margin-top: 30px;
}
.container-cards-test {
  display: flex;
  justify-content: space-evenly;
}
.titles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  list-style: none;
  height: 30px;
}
.titles li {
  background: #eddfb3;
  width: 200px;
  border-radius: 8px;
}
.titles li:nth-child(2) {
  margin-left: 50px;
  margin-right: 50px;
}
.card-test {
  width: 300px;
  height: 300px;
  filter: blur(1px);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-test:hover::after {
  content: attr(title);
  font-size: 50px;
  position: absolute;
  background: rgba(253, 207, 56, 1);
  color: #473c2a;
  padding: 10px 10px;
  border-radius: 5px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  white-space: wrap;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.card-test:hover {
  filter: blur(0px);
  height: 301px;
  width: 301px;
}
.card-test img {
  width: 100%;
  border-radius: 8px;
}

@media screen and (max-width: 1130px) {
  .card-test:hover {
    filter: blur(0px);
  }
}
@media screen and (max-width: 1100px) {
  .card-test {
    filter: blur(1px);
  }
}
@media screen and (max-width: 1000px) {
  .card-test {
    width: 280px;
    height: 280px;
  }
  .card-test:hover {
    filter: blur(0px);
    height: 283px;
    width: 283px;
  }
}

@media screen and (max-width: 920px) {
  .card-test {
    width: 250px;
    height: 250px;
  }
  .card-test:hover {
    filter: blur(0px);
    width: 253px;
    height: auto;
  }
  .card-test:hover::after {
    font-size: 45px;
  }
}
@media screen and (max-width: 920px) {
  .container-cards-test {
    flex-direction: column;
    align-items: center;
  }
  .card-test {
    width: 80%;
    height: auto;
    margin: 15px 15px 0 0;
    filter: blur(0px);
  }
  .card-test:hover {
    filter: blur(0px);
    width: 80%;
    height: auto;
  }
  .card-test:hover::after {
    font-size: 80px;
  }
}
