.container {
  width: 100%;
  height: 31.5rem;
  overflow: hidden;
  position: relative;
}

.banner-tests {
  width: 100%;
  position: absolute;
  left: -0%;
  bottom: -40%;
}

.description {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  text-align: justify;
}
.test-titles {
  margin-top: 30px;
}
.container-cards-test {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.main-tests .card-test {
  width: 25rem;
  height: 25rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  filter: blur(0px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.card-test:hover::after {
  content: attr(title);
  font-size: 50px;
  position: absolute;
  background: rgba(253, 207, 56, 1);
  border: solid #473c2a 2px;
  color: #473c2a;
  padding: 10px 10px;
  border-radius: 5px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  white-space: wrap;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.card-test:hover {
  filter: blur(0px);
  width: 25.1rem;
  height: 25.1rem;
  .card-img {
    filter: blur(0px);
  }
}
.card-test h3 {
  padding: 5px 10px;
  background: #eddfb3;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  position: absolute;
  z-index: 9;
  top: 2rem;
}
.card-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  filter: blur(1px);
}

@media screen and (max-width: 1330px) {
  .banner-tests {
    bottom: -30%;
  }
  .card-test::after {
    content: attr(title);
    font-size: 50px;
    position: absolute;
    background: rgba(253, 207, 56, 1);
    border: solid #473c2a 2px;
    color: #473c2a;
    padding: 10px 10px;
    border-radius: 5px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    white-space: wrap;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  }
}
@media screen and (max-width: 1250px) {
  .banner-tests {
    bottom: -20%;
  }
}

@media screen and (max-width: 1130px) {
  .banner-tests {
    bottom: -10%;
  }
  .card-test:hover {
    filter: blur(0px);
  }
}
@media screen and (max-width: 1100px) {
  .banner-tests {
    bottom: 0%;
  }
}
@media screen and (max-width: 1000px) {
  .banner-tests {
    bottom: 10%;
  }
}

@media screen and (max-width: 920px) {
  .main-tests .container {
    height: 25.5rem;
  }
  .banner-tests {
    bottom: 20%;
  }
  .card-test:hover {
    filter: blur(0px);
    width: 253px;
    height: auto;
  }
  .card-test:hover::after {
    font-size: 45px;
  }
  .main-tests .description {
    margin-top: -5rem;
  }
  .container-cards-test {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-tests .card-test {
    width: 50%;
    height: auto;
    margin: 10px;
  }
  .card-test:hover {
    width: 56%;
    height: auto;
  }
  .card-test:hover::after {
    font-size: 80px;
  }
}
@media screen and (max-width: 750px) {
  .main-tests .page-title {
    margin-top: 4.5rem;
  }
  .card-test {
    width: 60%;
    height: auto;
    margin: 10px;
  }
  .card-test:hover {
    width: 61%;
    height: auto;
    margin: 10px;
  }
}
@media screen and (max-width: 620px) {
  .main-tests .container {
    height: 20.5rem;
  }
  .main-tests .page-title {
    margin-top: 4.5rem;
  }
  .main-tests .description {
    margin-top: -2.5rem;
  }
  .card-test:hover::after {
    font-size: 67px;
  }
  .main-tests .card-test {
    width: 80%;
    height: auto;
    margin: 10px;
    filter: blur(3);
  }
  .card-test:hover {
    width: 81%;
    height: auto;
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .main-tests .container {
    height: 18.5rem;
  }
  .card-test:hover::after {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
  .main-tests .container {
    height: 14.5rem;
  }
  .card-test:hover::after {
    font-size: 40px;
  }
}
@media screen and (max-width: 360px) {
  .main-tests .container {
    height: 12.5rem;
  }
  .card-test::after {
    font-size: 48px;
  }
}
@media screen and (max-width: 360px) {
  .card-test::after {
    font-size: 46px;
  }
}
