.visual-test {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.visual-test .container-question {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 7rem;
}
.instructions-button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 15px;
  border-radius: 50%;
  border: #d8cca3 solid 2px;
  color: #d8cca3;
  background: #473c2a;
  padding: 2px;
  position: absolute;
  z-index: 3;
  left: 18px;
  top: -10px;
  cursor: pointer;
}
.info1 {
  width: 80%;
  position: absolute;
  margin-top: 1rem;
  z-index: 3;
  left: 65%;
  transform: translateX(-20%);
  background: #d8cca3;
  color: #473c2a;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
}

.info1 p:first-child {
  margin-bottom: 5px;
}
.info1 .exit-icon i {
  position: absolute;
  right: 12px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  border: #d8cca3 solid 1px;
  cursor: pointer;
}

.main-image {
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.main-image img {
  width: 100%;
  border: #473c2a solid 2px;
  border-radius: 5px;
}

.answer-images-options {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}
.card-image-option {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  background: #d8cca3;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-image-option img {
  height: 80%;
  margin-top: 6px;
  object-fit: contain;
}
.card-image-option p {
  color: #473c2a;
  margin-top: 3px;
}
.correct {
  background: #8da860;
}
.incorrect {
  background: #f55050;
}

.finish-section {
  width: 100%;
}

.answers {
  display: flex;
  flex-direction: column;
}

.answer-images {
  margin: auto;
  margin-top: 5rem;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.card-image-answer {
  width: 250px;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 22px;
  margin-top: 18px;
  height: 230px;
  border-radius: 5px;
  background: #d8cca3;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.card-image-answer img {
  width: 100%;
  height: 200px;
  padding: 5px;
  margin-top: 5px;
}
.card-image-answer p {
  text-align: start;
  margin-left: 5px;
}

.card-image-answer .author {
  width: 120px;
  height: 120px;
  padding: 4px;
  position: absolute;
  top: 140px;
  left: 135px;
  border-radius: 10px;
  border: solid #d8cca3 2px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.exit-answers {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  border: #473c2a solid 2px;
  color: #473c2a;
  background: rgba(253, 207, 56, 1);
  padding: 2px;
  cursor: pointer;
  position: fixed;
  filter: opacity(1);
  bottom: 23rem;
  right: -10px;
  transform: translateX(-50%);
}
/* .exit-answers:hover {
  filter: opacity(1);
} */

.visual-test .game-won {
  margin-top: 1rem;
}

@media screen and (max-width: 1197px) {
  .answer-images {
    height: 810px;
  }
}
@media screen and (max-width: 1129px) {
  .main-image {
    width: 550px;
    height: 400px;
  }
  .answer-images-options {
    width: 280px;
    height: 280px;
    grid-gap: 15px;
  }
  .card-image-option {
    width: 140px;
    height: 140px;
    font-size: 15px;
  }
}
@media screen and (max-width: 945px) {
  .main-image {
    width: 500px;
    height: 350px;
  }
}
@media screen and (max-width: 902px) {
  .answer-images {
    height: 1110px;
  }
}
@media screen and (max-width: 885px) {
  .visual-test .container-question {
    margin-top: 7rem;
  }
  .answer-images-options {
    margin-top: 5px;
  }
  .info1 {
    margin-top: 1rem;
    left: 60%;
  }
}
@media screen and (max-width: 867px) {
  .info1 {
    left: 28%;
  }
}
@media screen and (max-width: 750px) {
  .answer-images {
    margin-top: 3rem;
  }
  .visual-test .container-question {
    margin-top: 4.5rem;
  }
  .info1 {
    width: 95%;
    margin-top: 0rem;
    font-size: 20px;
    left: 21.5%;
    .info-title {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 607px) {
  .answer-images {
    height: 2150px;
  }
}
@media screen and (max-width: 570px) {
  .main-image {
    width: 450px;
    height: 300px;
  }
  .answer-images-options {
    grid-gap: 5px;
  }
  .container-question {
    margin-top: -6rem;
  }
  .info1 {
    width: 100%;
    left: 20%;
    margin-top: 0rem;
    font-size: 17px;
  }
}
@media screen and (max-width: 515px) {
  .main-image {
    width: 400px;
    height: 250px;
  }
  .answer-images-options {
    grid-gap: 2px;
    width: 220px;
    height: 220px;
  }
  .card-image-option {
    width: 115px;
    height: 125px;
  }
  .answer-images-options p {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .container-question {
    margin-top: -15rem;
  }
  .exit-answers {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
}
@media screen and (max-width: 465px) {
  .main-image {
    width: 350px;
    height: 200px;
  }
  .container-question {
    margin-top: -18rem;
  }
  .info1 {
    margin-top: 0rem;
    left: 20%;
  }
  .visual-test .game-won {
    font-size: 15px;
  }
}
@media screen and (max-width: 380px) {
  .visual-test .container-question {
    width: 95%;
  }
  .container-question {
    width: 100%;
  }
  .main-image {
    width: 100%;
  }
}
