* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
body {
  background: #b09b71;
  text-align: center;
}

.page-title {
  font-weight: 100;
  text-align: center;
  font-size: 35px;
  margin-top: 6rem;
  margin-bottom: 12px;
  letter-spacing: 30px;
  color: #1a120b;
  width: 100%;
}

.info-title {
  font-size: 25px;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .page-title {
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-top: 6rem;
    margin-bottom: 12px;
    letter-spacing: 25px;
    color: #1a120b;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .page-title {
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-top: 6rem;
    margin-bottom: 12px;
    letter-spacing: 20px;
    color: #1a120b;
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  .page-title {
    font-weight: 100;
    text-align: center;
    font-size: 25px;
    margin-top: 6rem;
    margin-bottom: 12px;
    letter-spacing: 15px;
    color: #1a120b;
    width: 100%;
  }
}
@media screen and (max-width: 415px) {
  .page-title {
    font-weight: 100;
    text-align: center;
    font-size: 25px;
    margin-top: 6rem;
    margin-bottom: 12px;
    letter-spacing: 10px;
    color: #1a120b;
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .page-title {
    font-weight: 100;
    text-align: center;
    font-size: 23px;
    margin-top: 6rem;
    margin-bottom: 12px;
    letter-spacing: 10px;
    color: #1a120b;
    width: 100%;
  }
}
