* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
body {
  background: #b09b71;
  text-align: center;
}

.page-title {
  font-weight: 100;
  text-align: center;
  font-size: 35px;
  margin-top: 6rem;
  margin-bottom: 12px;
  letter-spacing: 30px;
  color: #1a120b;
}

.info-title {
  font-size: 25px;
  margin-bottom: 10px;
}
